<section class="game-container">
  <h1>Fruit Hangman Game</h1>
  <h2>Try to keep the hangman...alive?</h2>

  <div class="wrong-choices-container">
    <div class="x-mark-container">
      <div class="x-mark"
           *ngFor="let x of wrongLettersEntered">
        X
      </div>
    </div>

    <p>{{chancesRemainingMessage}}</p>
  </div>

  <div class="word-container">
    <app-hangman-letter *ngFor="let letter of splitWord"
                        [letter]="letter"
                        [gameOver]="isGameOver"
                        [letterHidden]="!letterHasBeenFoundByUser(letter)">
    </app-hangman-letter>
  </div>

  <div class="letter-selection-container">
    <app-letter-button *ngFor="let letter of ALLOWED_LETTER_CHOICES"
                       [letter]="letter"
                       [letterSuccess]="letterHasBeenFoundByUser(letter)"
                       [letterFail]="isLetterNotPartOfWord(letter)"
                       [disabled]="isGameOver"
                       (letterClicked)="onUserLetterSelect(letter)">
    </app-letter-button>
  </div>

  <div class="end-game-container">
    <ng-container [ngSwitch]="gameStatus">
      <app-win-message *ngSwitchCase="'win'"></app-win-message>
      <app-lose-message *ngSwitchCase="'lose'"></app-lose-message>
    </ng-container>

    <button class="play-again-button app-button"
            *ngIf="isGameOver"
            (click)="initializeGame()">
      Play Again!
    </button>
  </div>

</section>


